body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
.main-container {
  min-height: 100vh;
  overflow: auto;
  width: 100%;
}

.navBar {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* And so on... */
